<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="../css/index.css"> <!-- Include the CSS file -->
</head>
<body>
    
    <%- include('./includes/navbar.ejs')%>
    <!-- Main Heading -->
    <h2 class="main-heading"><%= heading %></h2>
    
    <%- include('./includes/urlShortnerForm.ejs')%>
    <%- include('./includes/urlListTable.ejs')%>
    
</body>
</html>
